.inp{
 
  margin: auto;
  width: 70%;
  height: 40px;
  margin-top: 30px;
}

.inp>input{
  width: 85%;
  height: 90%;
  font-weight: bold;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 25px;
}

.inp>button{
  width: 12%;
  height: 100%;
  font-weight: bold;
  font-size: 25px;
}